@* @model ElectricStore_Project.DTOs.ProductDisplayDTO *@

@{
    ViewData["Title"] = "Home Page";
}
@* 
<h1>Admin product page: @Model.Name</h1>
<p>Product Name: @Model.Name</p>
<p>Product Price: @Model.SalePrice</p>
<p>Product Stock: @Model.StockQuantity</p> *@
<h1>@ViewData["Title"]</h1>